html {
    box-sizing: border-box;
    height: 100vh;
  }
body {
    background-color: #323334;
    height: 100vh;
    color: white;
    font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
}


h2{
    padding: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #323334;
    color: white;
    height: 100%;
}
.single-friend h4 {
  font-size: 16px;
}

.search{
    margin-left: 40%;
}

.username {
    display: inline-block;
    margin-left: 2.5%;
    margin-top: -30px;
    color: #c65959;
}


.user {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    margin-bottom: 40px;
}

.singleFriend {
    margin: 20px 20px;
    color: black;
}
.singleFriend img {
    border-radius: 25px;    
}
.movie {
    margin: 10px;
}
.poster:hover {
    box-shadow: 2px 2px 20px #c65959;
    transform: translateY(-10px);
}
.allMovies {
    display: flex;
    flex-wrap: wrap;
}
.profileImage {
    width: 130px;
    height: 130px;
  }

.profileImage-friend{
    width: 50px;
    height: 50px;
}
 
.allFriends {
    background-color: #979797;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.icons i{
    padding: 10px;
}

.sidebar {
    background-color: #272626;
    border-right: 1px solid #5e5c5c;
}
.name {
    margin-top: 0;
    background-color: #c65959;
    color: white;
    text-align: center;
    padding: 10px;
}

input::placeholder {
    color: white;
}

.options {
    display: flex;
    flex-direction: column;
    align-items:  center;
}
p {
    display: inline-block;
    padding: 5px;
}
.poster {
    max-width: 300px;
    max-height: 250px;
}


.single{
    margin: 50px;
}

span {
    font-size: 20px;
    color: grey;
}

.plot{
    display: inline-block;
}
.plot-p {
    line-height: 25px;
    font-size: 16px;
}

.info{
    padding: 15px;
}

.info div {
    margin: 10px;
}
.info h4 {
    display: inline;
    margin: 30px;
}

.movie-details{
    display: flex;
}

.syn {
    width: 30%;
}

.friendLink{
  color: #c65959;
  text-decoration-line: none;
}
.profile{
    margin: 3%;
    border-radius: 50%;
}

.allFriends a {
    color: black;
}
.allFriends a:hover {
    color: #c65959;
}