{% extends "index.html" %}

{%block friend_img%}
    <img src="{{friend.profile_pic}}" alt="" class="profile profileImage">
{%endblock%}

{%block friend_banner%}<div class="user" style="background-image: url({{friend.banner}});">{% endblock %}

{%block friend_username%}
    <h6 class="username" style="color: white; margin-right: 10px;">@{{friend.user_name}}</h6>
    {%- if friend not in current_user.follow  -%}
    <button type="button" class="btn btn-secondary">
        <a href="{{url_for('add_friend', friend_id = friend.id)}}"><span class="fas fa-user-plus fs-6" style="color: white;"></span></a>
    </button>
    {%endif%}
    {%- if friend in current_user.follow -%}
    <button type="button" class="btn btn-secondary">
    <a href="{{url_for('unfollow', friend_id = friend.id)}}"><span class="fas fa-user-minus fs-6" style="color: white;"></span></a>
</button>
    {%endif%}
{%endblock%}

{%block friend_name%}<h2>{{friend.user_name}}'s Favs</h2>{%endblock%}
<script src="{{url_for('static', filename='follows.js')}}"></script>