<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="static/login.css">
    <title>FriendFlix -See what your friends are watching</title>
</head>

<body>
    <header class="showcase">


        <div class="logo">
            <h1 style="color: #c65959; padding: 30px; font-size: 2.5rem;">FRIENDFLIX</h1>
        </div>

        <div class="showcase-content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li style="color: #c65959; padding: 10px;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="formm">
                {% block form %} <form action="/Login" method="post"> {% endblock %}
                    {% block sign_up %} <h2>Login</h2> {% endblock %}
                    <div class="info">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input class="email" type="text" placeholder="Username" name="username"> <br>
                        <input class="email" type="password" placeholder="Password" name="password">
                    </div>
                    <div class="btn">
                        {% block btn %}
                        <button class="btn-primary" type="submit">Login</button>
                        {% endblock %}
                    </div>
                </form>

            </div>
            <div class="signup">
                {% block link %}
                <p>New to FriendFlix ?</p>
                <a href="/signUp">Sign up now</a>
                {% endblock %}
            </div>

        </div>




    </header>


</body>

</html>
